*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1px;
}
#__next{
    display: flex;
    justify-content: center;
    padding-top: 50rem;
}
.flex{
    display: flex;
    margin-top: 10rem;
    align-items: center;
    justify-content: space-between;
}
button{
    border-radius: 5rem;
}
table{
    font-size: 25rem;
}