.container{
    max-width: 1200rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30rem;
    box-shadow: 0px 2px 8px 6px rgba(0,0,0,0.26);
}